<%- include("partials/header.ejs") %>

<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label my-3">What do you want to learn</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" name="input"></textarea>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    const txt = "<%= JSON.stringify(content) %>";
    let i = 0;

    function typeWritter(){
        if (i < txt.length){
            $('textarea').append(txt[i]);
            i++;
            setTimeout(typeWritter, 10);
        }
    }

    // $('textarea').val("");
    $(document).ready(typeWritter);
</script>
<%- include("partials/footer.ejs") %>

