<%- include("partials/header.ejs") %>

<form action="/generate/create" class="px-5 text-center" method="POST">
    <div class="mb-3 text-center">
        <label for="exampleFormControlTextarea1" class="form-label my-3 fw-bold fs-4">Prompt editor</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" name="content"></textarea>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3 px-3 py-2 fw-bold fs-5">Create Flashcard</button>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    // const txt = marked.parse("<%= JSON.stringify(content) %>"); //use marked.parse to handling markdown (*, \n etc) from gemini
    const txt = "<%= JSON.stringify(content) %>"; 
    let i = 0;

    function typeWritter(){
        if (i < txt.length){
            $('textarea').append(txt[i]);
            i++;
            setTimeout(typeWritter, 10);
        }
    }

    // $('textarea').val("");
    $(document).ready(typeWritter);
</script>
<%- include("partials/footer.ejs") %>

