<%- include("partials/header.ejs") %>

<form action="/generate" class="px-5" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label my-3">What do you want to learn</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="input"></textarea>
    </div>
        <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Generate</button>
    </div>
</form>

<%- include("partials/footer.ejs") %>

